### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [17]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

In [18]:
#Print out the beginning of the data to understand what we're working with
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [19]:
#Calculate count of players by finding unique SN values
players_count = purchase_data_df['SN'].nunique()

#Convert the players_count series into a Dataframe
pd.DataFrame({
    "Total Players": [players_count]
})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
#Calculate the number of unique items, average purchase price, total number of purchases, and total revenue of purchases
unique_items = purchase_data_df['Item Name'].nunique()
average_purchase_price = purchase_data_df['Price'].mean()
purchases_count = purchase_data_df['Purchase ID'].count()
total_revenue = purchase_data_df['Price'].sum()

#Create summary of results Dataframe
purchasing_analysis_df = pd.DataFrame({
    'Number of Uniques Items':[unique_items],
    'Average Price':[average_purchase_price],
    'Number of Purchases':[purchases_count],
    'Total Revenue':[total_revenue]
})

#Clean Dataframe with proper formatting
purchasing_analysis_df['Average Price']=purchasing_analysis_df['Average Price'].map("${:,.2f}".format)
purchasing_analysis_df['Total Revenue']=purchasing_analysis_df['Total Revenue'].map("${:,.2f}".format)

#Print out Dataframe
purchasing_analysis_df

   Number of Uniques Items Average Price  Number of Purchases Total Revenue
0                      179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
#Group the data by gender to filter the values needed
groupby_gender = purchase_data_df.groupby("Gender")

#Calculate the count and percentage for each gender
gender_count = groupby_gender.nunique()["SN"]
gender_percentage = gender_count / players_count * 100

#Convert series into a Dataframe
gender_demo = pd.DataFrame({"Total Count": gender_count,"Percentage of Players": gender_percentage})

#Clean Dataframe with proper formatting, and display from highest to lowest count and print
gender_demo.index.name = None
gender_demo.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Calculate the purchase count, average purchase price, total purchase value, and average total purchase price per gender (group by gender - gbg)
gbg_purchase_count=groupby_gender['Purchase ID'].count()
gbg_avg_purchase_price=groupby_gender['Price'].mean()
gbg_total_purchase_price=groupby_gender['Price'].sum()
gbg_ind_purchase_price=gbg_total_purchase_price/gender_count

#Create summary of results Dataframe
gender_demo_analysis = pd.DataFrame({
    'Purchase Count':gbg_purchase_count,
    'Average Purchase Price':gbg_avg_purchase_price,
    'Total Purchase Value':gbg_total_purchase_price,
    'Avg Total Purchase per Person':gbg_ind_purchase_price
})

#Clean up the Dataframe and set the index as the gender
gender_demo_analysis.index.name = 'Gender'
gender_demo_analysis.style.format({
    'Average Purchase Price':"${:,.2f}",
    'Total Purchase Value':"${:,.2f}",
    'Avg Total Purchase per Person':"${:,.2f}"
})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
#Find the max and min of the age values to determine bin start and end point
print(purchase_data_df['Age'].max())
print(purchase_data_df['Age'].min())

45
7

In [9]:
#Create bins based on the min and max age values
age_bins = [0,9,14,19,24,29,34,39,46]

#Create labels for these bins (8)
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34",
                "35-39", "40+"]

#Slice the data and place it into bins
purchase_data_df["Age Ranges"] = pd.cut(purchase_data_df["Age"],age_bins, labels=group_labels)

#Check if the slicing and bining worked
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [10]:
#Group data by the Age Group Bins created
age_ranges = purchase_data_df.groupby("Age Ranges")

#Calculate the total count and percentage by age
total_by_age = age_ranges["SN"].nunique()
percentage_by_age = (total_by_age/players_count) * 100

#Clean the Dataframe output with proper formatting 
age_demographics = pd.DataFrame({"Total Count": total_by_age, "Percentage of Players": percentage_by_age})
age_demographics.index.name = None
age_demographics.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
#Calculate the purchase count, average purchase price, total purchase value, and average purchase per person by age (grouped by age = gba)
gba_purchase_count=age_grouped['Purchase ID'].count()
gba_avg_purchase_price=age_grouped['Price'].mean()
gba_total_purchase=age_grouped['Price'].sum()
gba_ind_purchase_price=gba_total_purchase/total_by_age

#Create summary of results Dataframe
age_demo_analysis = pd.DataFrame({
    'Purchase Count':gba_purchase_count,
    'Average Purchase Price':gba_avg_purchase_price,
    'Total Purchase Value':gba_total_purchase,
    'Avg Total Purchase per Person':gba_ind_purchase_price
})

#Clean up the Dataframe and set the index as the gender
age_demo_analysis.index.name = 'Age Ranges'
age_demo_analysis.style.format({
    'Average Purchase Price':"${:,.2f}",
    'Total Purchase Value':"${:,.2f}",
    'Avg Total Purchase per Person':"${:,.2f}"
})

NameError: name 'age_grouped' is not defined

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
#Group the data by SN to filter the values needed
groupby_spender = purchase_data_df.groupby("SN")

#calculate the purchase count, average purchase price and total purchase value per SN(group by spender - gbs)
gbs_purchase_count=groupby_spender['Purchase ID'].count()
gbs_avg_purchase_price=groupby_spender['Price'].mean()
gbs_total_purchase_price=groupby_spender['Price'].sum()

#Create summary of results Dataframe
spender_stats_analysis = pd.DataFrame({
    'Purchase Count':gbs_purchase_count,
    'Average Purchase Price':gbs_avg_purchase_price,
    'Total Purchase Value':gbs_total_purchase_price
})

#Sort the values from highest total purchase value to lowest
top_spenders = spender_stats_analysis.sort_values(["Total Purchase Value"], ascending=False).head()

#Clean up the Dataframe and set the index as SN
top_spenders.index.name = 'SN'
top_spenders.style.format({
    'Average Purchase Price':"${:,.2f}",
    'Total Purchase Value':"${:,.2f}"
})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [13]:
#Retrieve the Item ID, Item Name, and Item Price columns
items=purchase_data_df[['Item ID','Item Name','Price']]

#Group the data by Item ID and Item Name
groupby_items=items.groupby(['Item ID','Item Name'])

#Calculate the purchase count, item price and total purchase value per item (group by item - gbi)
gbi_purchase_count=groupby_items['Price'].count()
gbi_avg_purchase_price=groupby_items['Price'].mean()
gbi_total_purchase_value=groupby_items['Price'].sum()

#Create summary of results Dataframe
item_stats_analysis = pd.DataFrame({
    'Purchase Count':gbi_purchase_count,
    'Item Price':gbi_avg_purchase_price,
    'Total Purchase Value':gbi_total_purchase_value
})

#Sort the values from highest purchase count value to lowest
popular_items = item_stats_analysis.sort_values(["Purchase Count"], ascending=False).head()

#Clean up the Dataframe output format
popular_items.style.format({
    'Item Price':"${:,.2f}",
    'Total Purchase Value':"${:,.2f}"
})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [14]:
#Sort the Total Purchase Value from highest to lowest to determine the most profitable items
popular_items = item_stats_analysis.sort_values(["Total Purchase Value"],
                                        ascending=False).head()
#Clean Dataframe formatting 
popular_items.style.format({"Item Price":"${:,.2f}",
                            "Total Purchase Value":"${:,.2f}"})