In [156]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

In [157]:
#print data to get a sense of what we are dealing with
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [158]:
##Player Count
#Calculate count of players by finding unique SN values
players_count = purchase_data_df['SN'].nunique()

In [159]:
players_count

576

In [160]:
#Convert the players_count series into a Dataframe
pd.DataFrame({
    "Total Players": [players_count]
})

   Total Players
0            576

In [161]:
##PURCHASES ANALYSIS
#calculate number of unique items
unique_items = purchase_data_df['Item Name'].nunique()
unique_items

179

In [162]:
#calculate avg purchase price
# The mean method averages the series
average_purchase_price = purchase_data_df['Price'].mean()
average_purchase_price

3.0509871794871795

In [163]:
#calculate the number of purchases
purchases_count = purchase_data_df['Purchase ID'].count()
purchases_count

780

In [164]:
#calculate the total revenue of purchases
total_revenue = purchase_data_df['Price'].sum()
total_revenue

2379.77

In [165]:
#Create summary of results
purchasing_analysis_df = pd.DataFrame({
    'Number of Uniques Items':[unique_items],
    'Average Price':[average_purchase_price],
    'Number of Purchases':[purchases_count],
    'Total Revenue':[total_revenue]
})

In [166]:
purchasing_analysis_df

   Number of Uniques Items  Average Price  Number of Purchases  Total Revenue
0                      179       3.050987                  780        2379.77

In [167]:
#clean purchasing analysis table
purchasing_analysis_df['Average Price']=purchasing_analysis_df['Average Price'].map("${:,.2f}".format)
purchasing_analysis_df['Total Revenue']=purchasing_analysis_df['Total Revenue'].map("${:,.2f}".format)

In [168]:
purchasing_analysis_df

   Number of Uniques Items Average Price  Number of Purchases Total Revenue
0                      179         $3.05                  780     $2,379.77

In [219]:
##GENDER DEMOGRAPHICS
#group the data by gender to filter the values needed
groupby_gender = purchase_data_df.groupby("Gender")

#calculate the count for each gender as well as the percentage 
gender_count = groupby_gender.nunique()["SN"]
gender_percentage = gender_count / players_count * 100

#input calculated values in a data frame
gender_demo = pd.DataFrame({"Total Count": gender_count,"Percentage of Players": gender_percentage})

#clean up the data frame output
gender_demo.index.name = None
gender_demo.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})

In [222]:
##PURCHASING ANALYSIS (GENDER)
#calculate the purchase count per gender (group by gender - gbg)
gbg_purchase_count=groupby_gender['Purchase ID'].count()
gbg_purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [224]:
#calculate average purchase price per gender
gbg_avg_purchase_price=groupby_gender['Price'].mean()
gbg_avg_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [226]:
#calculate total purchase value per gender
gbg_total_purchase_price=groupby_gender['Price'].sum()
gbg_total_purchase_price

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [228]:
#calculate average total purchase price per person
gbg_ind_purchase_price=gbg_total_purchase_price/gender_count
gbg_ind_purchase_price

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [229]:
#input calculated values in a data frame
gender_demo_analysis = pd.DataFrame({
    'Purchase Count':gbg_purchase_count,
    'Average Purchase Price':gbg_avg_purchase_price,
    'Total Purchase Value':gbg_total_purchase_price,
    'Avg Total Purchase per Person':gbg_ind_purchase_price
})

#clean up the data frame output
gender_demo_analysis.index.name = 'Gender'
gender_demo_analysis.style.format({
    'Average Purchase Price':"${:,.2f}",
    'Total Purchase Value':"${:,.2f}",
    'Avg Total Purchase per Person':"${:,.2f}"
})

In [230]:
##AGE DEMOGRAPHICS
print(purchase_data_df['Age'].max())
print(purchase_data_df['Age'].min())

45
7

In [235]:
# Create bins in which to place values based upon TED Talk views
age_bins = [0,9,14,19,24,29,34,39,46]

# Create labels for these bins (8)
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34",
                "35-39", "40+"]

In [239]:
# Slice the data and place it into bins
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"],age_bins, labels=group_labels)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [241]:
#Group data by the Age Group Bins created
age_grouped = purchase_data_df.groupby("Age Group")

#Calculate the total count by age as well as the percentage
total_by_age = age_grouped["SN"].nunique()
percentage_by_age = (total_by_age/players_count) * 100

#output the results as a data frame with proper formatting 
age_demographics = pd.DataFrame({"Total Count": total_by_age, "Percentage of Players": percentage_by_age})
age_demographics.index.name = None
age_demographics.style.format({"Percentage of Players":"{:,.2f}%"})

In [244]:
##PURCHASING ANALYSIS
#Calculate the purchase count by age (grouped by age = gba)
gba_purchase_count=age_grouped['Purchase ID'].count()
gba_purchase_count

<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [246]:
#Calculate the average purchase price gba 
gba_avg_purchase_price=age_grouped['Price'].mean()
gba_avg_purchase_price

<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [248]:
#Calculate the total purchases by age
gba_total_purchase=age_grouped['Price'].sum()
gba_total_purchase

<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [249]:
#Calculate the individual purchase price by age 
gba_ind_purchase_price=gba_total_purchase/total_by_age
gba_ind_purchase_price

<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [251]:
##TOP SPENDERS
#group the data by SN to filter the values needed
groupby_spender = purchase_data_df.groupby("SN")

In [253]:
#calculate the purchase count per SN(group by spender - gbs)
gbs_purchase_count=groupby_spender['Purchase ID'].count()
gbs_purchase_count

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64

In [254]:
#calculate average purchase price per SN
gbs_avg_purchase_price=groupby_spender['Price'].mean()
gbs_avg_purchase_price

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [255]:
#calculate total purchase value per SN
gbs_total_purchase_price=groupby_spender['Price'].sum()
gbs_total_purchase_price

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [261]:
#input calculated values in a data frame
spender_stats_analysis = pd.DataFrame({
    'Purchase Count':gbs_purchase_count,
    'Average Purchase Price':gbs_avg_purchase_price,
    'Total Purchase Value':gbs_total_purchase_price
})

#Sort the values from highest total purchase value to lowest
top_spenders = spender_stats_analysis.sort_values(["Total Purchase Value"], ascending=False).head()

#Clean up the data frame output format
top_spenders.index.name = 'SN'
top_spenders.style.format({
    'Average Purchase Price':"${:,.2f}",
    'Total Purchase Value':"${:,.2f}"
})

In [265]:
##MOST POPULAR ITEMS
#Retrieve the Item ID, Item Name, and Item Price columns
items=purchase_data_df[['Item ID','Item Name','Price']]

#group the data by Item ID and Item Name
groupby_items=items.groupby(['Item ID','Item Name'])

In [268]:
#urchase count, average item price, and total purchase value
#calculate the purchase count per items (group by item - gbi)
gbi_purchase_count=groupby_items['Price'].count()
gbi_purchase_count

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Price, Length: 179, dtype: int64

In [271]:
#calculate the average item price
gbi_avg_purchase_price=groupby_items['Price'].mean()
gbi_avg_purchase_price

Item ID  Item Name
0        Splinter                                        1.2800
1        Crucifer                                        2.9425
2        Verdict                                         2.4800
3        Phantomlight                                    2.4900
4        Bloodlord's Fetish                              1.7000
                                                          ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.2300
179      Wolf, Promise of the Moonwalker                 4.4800
181      Reaper's Toll                                   1.6600
182      Toothpick                                       4.0300
183      Dragon's Greatsword                             1.0900
Name: Price, Length: 179, dtype: float64

In [272]:
#calculate the total purchase value
gbi_total_purchase_value=groupby_items['Price'].sum()
gbi_total_purchase_value

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [274]:
#input calculated values in a data frame
item_stats_analysis = pd.DataFrame({
    'Purchase Count':gbi_purchase_count,
    'Item Price':gbi_avg_purchase_price,
    'Total Purchase Value':gbi_total_purchase_value
})

#Sort the values from highest purchase count value to lowest
popular_items = item_stats_analysis.sort_values(["Purchase Count"], ascending=False).head()

#Clean up the data frame output format
popular_items.style.format({
    'Item Price':"${:,.2f}",
    'Total Purchase Value':"${:,.2f}"
})

In [275]:
##MOST PROFITABLE ITEMS
popular_items = item_stats_analysis.sort_values(["Total Purchase Value"],
                                        ascending=False).head()

popular_items.style.format({"Item Price":"${:,.2f}",
                            "Total Purchase Value":"${:,.2f}"})

In [ ]:
##ANALYSIS